################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/QuikSharp/FileContentIndex/1d7eeac1-ce6e-47cb-a9ba-0401227414ee.vsidx
/.vs/QuikSharp/FileContentIndex/3b648249-3429-4931-941d-d2d325eaf250.vsidx
/.vs/QuikSharp/FileContentIndex/6070ecd4-6ce2-4c4b-a7e0-fefb893d9cce.vsidx
/.vs/QuikSharp/FileContentIndex/8f1e5f97-4e72-4ef9-a0d9-6094b1d0aa44.vsidx
/.vs/QuikSharp/FileContentIndex/d53c6f17-1b60-4b4e-a59b-248db2a38549.vsidx
/.vs/QuikSharp/FileContentIndex/d778ec15-7d03-4d47-8e47-60f2a9d6eaf2.vsidx
/.vs/QuikSharp/FileContentIndex/e2d2c557-ae42-4251-8503-7e1c2a87c09c.vsidx
